
<img src="{{img }}" alt="congres" width="80%" height:"30%">

<br>

{% block title %}
 <h2>   Hello {{ name }} ! , Welcome to  Medical Congresses </h2>
    

{% endblock %}
{% block body %}
 
  <h3 ><strong>Stay on top of the latest breakthroughs and developments in the medical field  </strong></h3>  
<h3 ><strong> Get booking faster with just a few clicks. 
click <a href="http://localhost:3000">here</a> to get started.
</strong></h3>


{% endblock %}
